body {
    margin: 0;
}

.masthead {
    display: flex;
    justify-content: space-between;
    background-color: #fde362;
    height: 75px;

    font-size: large;
    font-family: Montserrat, sans-serif;
    border-bottom: 4px solid black;
    padding-right: 10px;
  }

.logo img {
    width: 100px;
    height: 50px;
    padding: 10px;
 }
  
.centeredText {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.site-title {
    color: black;
}

.main-area {
    background-color: lightgoldenrodyellow;
    margin: 10px;
    border-radius: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1em;
    padding: 5px;
}

.card {
    background: white; 
    margin: 2em;
    max-height: 300px; 
    flex: 0 1 200px;
    position: relative; /* to position items inside card */
}
  
.card a {
    color: black;
    text-decoration: none;
}
  
.card-content {
    padding: 1.4em;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h2 {
    font-size: large;
}
  
.card-content p {
    font-size: 80%;
    font-weight: bolder;
}
  
.pixHolder {
    text-align: center;
    background-color: white;
}
  
.pixHolder img {
    padding-top: 5px;
    width: 80%;
    height: 150px;
    border-radius: 15px;
}
  
  
h3,ul {
    position: relative;
    top: -30px;
}
  
ul {
    list-style-image: url("images/smaller_viking.gif");
}

[status="important"] {
    border: 6px dashed green;
}
  
[status="done"]::before {
    content: "\2713";
    font-size: 10rem;
    font-weight: bolder;
    color: green;
    position: absolute;
    top: 5px;
    left: 5px;
}

@media screen and (min-width: 600px) {
    .card {
      flex: 0 1 200px;
      max-width: 200px;
      margin-bottom: 1em;
    }
}

@media screen and (max-width: 599px) {
    .card {
      flex: 0 1 calc(45% - 0.1em);
      margin-bottom: 1em;
    }
    .masthead {
      height: 125px;
      padding-top: 10px;
      font-size: large;
    }
}

@media screen and (min-width: 800px) {
    .cards {
      margin-top: inherit;
    }
  }


  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid black;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: #2BA7FF;
    color: white;
  }

  .flip-card-back {
    background-color: gold;
    border: 5px solid goldenrod;
    color: darkolivegreen;
    transform: rotateY(180deg);
  }